In [1]:
!ls ../datas/csv

EcommerceCustomers.csv  USA_Housing.csv         titanic_train.csv
EcommerceCustomers.xlsx titanic_test.csv

In [2]:
import pandas as pd
df= pd.read_csv('../datas/csv/titanic_train.csv')
titanic_y = df['Survived']
titanic_x = df[['Pclass','SibSp','Parch','Embarked', 'Sex']]
titanic_x = pd.get_dummies(titanic_x, columns=['Sex', 'Embarked', 'Pclass'])
titanic_x

,SibSp,Parch,Sex_female,Sex_male,Embarked_C,Embarked_Q,Embarked_S,Pclass_1,Pclass_2,Pclass_3
0,1,0,0,1,0,0,1,0,0,1
1,1,0,1,0,1,0,0,1,0,0
2,0,0,1,0,0,0,1,0,0,1
3,1,0,1,0,0,0,1,1,0,0
4,0,0,0,1,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...
886,0,0,0,1,0,0,1,0,1,0
887,0,0,1,0,0,0,1,1,0,0
888,1,2,1,0,0,0,1,0,0,1
889,0,0,0,1,1,0,0,1,0,0
890,0,0,0,1,0,1,0,0,0,1

In [3]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(titanic_x,titanic_y, test_size=0.2)

In [4]:
from sklearn.linear_model import LogisticRegression
log = LogisticRegression()
log.fit(x_train, y_train)
result = log.predict([[0, 1, 0, 1, 0, 0, 1, 0, 1, 0]])	# titanic_x와 변수 개수 일치 필요.
x_test.shape, type(x_test), result, type(result) # Depend on accuracy

((179, 10), pandas.core.frame.DataFrame, array([0]), numpy.ndarray)

In [6]:
predictions = log.predict(x_test)	# 정확도 확인
predictions

array([0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1,
       1, 1, 0])

In [7]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.770949720670391

In [8]:
import pickle
pickle.dump(log, open( "../datas/log.pkl", "wb" ))

In [1]:
!ls ../datas

csv     log.pkl

In [2]:
#Open Other Session and then Upload log.pkl
import pickle
log_picke = pickle.load( open( "../datas/log.pkl", "rb" ) )
from sklearn.linear_model import LogisticRegression
result = log_picke.predict([[0, 1, 0, 1, 0, 0, 1, 0, 1, 0]])
result

array([0])

In [3]:
len([0, 1, 0, 1, 0, 0, 1, 0, 1, 0])

10